$positions: ('top', 'left', 'bottom', 'right');

$activeElementBoxShadow: 0 0 4px rgba(15, 42, 141, 0.6);
$displays: (block, inline-block, inline, flex, inline-flex, hidden);

$directions: (row, row-reverse, col, col-reverse);

$aligns: (stretch, start, center, end, baseline);

$justify: (start, center, end, between, around);

$green: #7ed321;
$purple: #e990f9;
