@import '../../styles/varriables.scss';

.info-page {
  flex-direction: column;
  max-width: 614px;
  margin-top: 85px;
  .title {
    color: $green;
    font-size: 36px;
    margin-bottom: 15px;
  }
  p {
    color: #6c6c6c;
  }
  @media (max-width: 720px) {
    padding: 25pt;
  }
}
